<%@ Master Language="VB" AutoEventWireup="false" CodeFile="MasterPageA.master.vb" Inherits="MasterPageA" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Foreign Vehicle Permit</title>
    <link rel="icon" href="image/logo_dlt.png">
    
    <!--icon add Mobile-->
    <link rel="apple-touch-icon" sizes="128x128" href="image/logo_dlt.png">




    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Styles/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>--%>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>

   <%--For Loading--%>
<style type="text/css">
.overlays
{
position: fixed;
z-index: 999;
height: 100%;
width: 100%;
top: 0;
background-color: Black;
filter: alpha(opacity=60);
opacity: 0.6;
-moz-opacity: 0.8;
color:White;

/*เพิ่มมาเองมันมีช่องว่างด้านซ้าย*/
left: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #2980B9; /* purple */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    margin-top:200px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>   

        
</head>


<body class="w3-light-grey w3-content" style="max-width:1600px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-Sand w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="image/logo_dlt.png" style="width:45%;" class="w3-round"><br><br>
  </div>
  <div class="w3-bar-block">
    <a href="index.aspx" id="menu1" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;Home</a>
    <a href="Login.aspx" id="menu2" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;Sign in</a>
    <a href="RegisterLocal.aspx" id="menu3" onclick="w3_close()" class="w3-bar-item w3-button w3-padding ">&nbsp;Sign Up for Local Driver</a>
    <a href="RegisterTravel.aspx" id="menu4" onclick="w3_close()" class="w3-bar-item w3-button w3-padding ">&nbsp;Sign Up for Travel Agency</a>
    <a href="Search.aspx" id="menu5" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;Search License</a>
    <a href="#contact" id="menu6" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;Contact/Information</a>
  </div>


</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="image/logo_dlt.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h3><b>Foreign Vehicle Permit</b></h3>
    
    </div>
  </header>
  
  <!-- First Photo Grid-->
  


     <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">

            </asp:ContentPlaceHolder>
        </div>

  <!-- Footer -->

  
  <div class="w3-black w3-center w3-padding-24">
  
  <%--Powered by <a href="http://www.thaitruckcenter.com/" title="http://www.thaitruckcenter.com/" target="_blank" class="w3-hover-opacity w3-text-white">TRUCK DATA SERVICE CENTER</a> </div>--%>
  
  
  
  
  </div>

<!-- End page content -->
</div>
<script type="text/javascript">
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    $(document).ready(function () {
        if (window.location.href.indexOf("index") > -1) {
            document.getElementById("menu1").classList.add("w3-teal");
        } else if (window.location.href.indexOf("Login") > -1) {
            document.getElementById("menu2").classList.add("w3-teal");
        } else if (window.location.href.indexOf("RegisterLocal") > -1) {
            document.getElementById("menu3").classList.add("w3-teal");
        } else if (window.location.href.indexOf("RegisterTravel") > -1) {
            document.getElementById("menu4").classList.add("w3-teal");
        } else if (window.location.href.indexOf("Search") > -1) {
            document.getElementById("menu5").classList.add("w3-teal");
        } else if (window.location.href.indexOf("Contact") > -1) {
            document.getElementById("menu6").classList.add("w3-teal");
        }
    });






</script>
  </body>

</html>
