<%@ Master Language="VB" CodeFile="MasterPageIndex.master.vb" Inherits="MasterPageIndex" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<title>Foreign Vehicle Permit</title>
<link rel="icon" href="image/logo_dlt.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Styles/w3Home.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-dark-grey.css">

<asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
<style type="text/css">
  @font-face{
        font-family: 'Kanit', sans-serif;
        src : url('font/ThaiSansNeue-Regular/thaisansneue-bold-webfont.woff2');
    
    }
    

body,h1,h2,h3,h4,h5,h6,a {
 font-family: 'Kanit', sans-serif;
    font-size: large;
}
body, html {
    height: 100%;
    line-height: 1.8;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>


<style type="text/css">
      /*bannerIndex*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:0.5em;width:0.5em;padding:0}
.bgimg-1 {
    background-position: center;
  background-size: cover;
    background-image: url("image/76.jpg");
    width: 100%;
  
    
}.ftbanner {
        background-image: url('image/footer.jpg');
        width:100%;
         background-size: cover;
}/* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    /*สำหรับ Loading*/
.overlays
{
position: fixed;
z-index: 999;
height: 100%;
width: 100%;
top: 0;
background-color: Black;
filter: alpha(opacity=60);
opacity: 0.6;
-moz-opacity: 0.8;
color:White;

/*เพิ่มมาเองมันมีช่องว่างด้านซ้าย*/
<%--left: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #b213be; /* purple */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    margin-top:200px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}--%>
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}






</style>   



</head>
<body>
<form id="formIndex" runat="server">

    <!-- Sidebar (hidden by default) -->
<nav class=" w3-animate-left w3-sidebar w3-bar-block w3-white w3-mobile " style="display:none;z-index:5; width:auto;" id="mySidebar">
  
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-right-align w3-xlarge w3-text-purple"> <i class="fa fa-times-circle" aria-hidden="true"></i></a>

  <center><img src="image/logo_dlt.png" style="width:20%;" class="w3-round w3-center"><br><br></center>
  <hr />
<%--  <a href="index.aspx" id="menu1" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Home</a>--%>
    <a href="Login.aspx" id="menu2" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Sign-in</a>

 <a href="#" class="w3-button w3-block w3-left-align" id="MyFunc">
   Local Vehicle ( Myanmar/Cambodia) <i class="fa fa-caret-down"></i>
  </a>
  <div id="demoAcc" class="w3-hide w3-blue w3-card">
    <a href="RegisterLocal.aspx?new=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">New Registration</a>
<%--    <a href="RegisterLocal.aspx?already=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">Existing User</a>--%>
    <a href="ManageApp.aspx?status=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">Manage Application/Permit</a>
    
  </div>

   <a href="#" class=" w3-button w3-block w3-left-align" id="MyFunc2">
  International Agreement Personal Vehicle (Laos) <i class="fa fa-caret-down"></i>
  </a>
  <div id="demoAcc2" class="w3-hide w3-blue w3-card">
    <a href="RegisterLaos.aspx?new=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">New Registration</a>
<%--    <a href="RegisterLaos.aspx?already=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">Existing User</a>--%>
    <a href="ManageApp.aspx?status=3" class="w3-bar-item w3-button w3-padding w3-blue2 ">Manage Application/Permit</a>
  </div>

   <a href="#" class=" w3-button w3-block w3-left-align w3-responsive" id="MyFunc3">
  International Agreement Personal Vehicle (Malaysia/Singapore) <i class="fa fa-caret-down"></i>
  </a>
  <div id="demoAcc3" class="w3-hide w3-blue w3-card">
    <a href="RegisterMS.aspx?new=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">New Registration</a>
<%--    <a href="RegisterMS.aspx?already=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">Existing User</a>--%>
    <a href="ManageApp.aspx?status=4" class="w3-bar-item w3-button w3-padding w3-blue2 ">Manage Application/Permit</a>
  </div>

   <a href="#" class=" w3-button w3-block w3-left-align w3-responsive"  id="MyFunc4">
   Internaltional Agreement Commercial Transport Vehicle <i class="fa fa-caret-down"></i>
  </a>
  <div id="demoAcc4" class="w3-hide w3-blue w3-card">
  <%--  <a href="RegisterLocal.aspx?new=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">New Registration</a>
    <a href="RegisterLocal.aspx?already=1" class="w3-bar-item w3-button w3-padding w3-blue2 ">Existing User</a>--%>
     <a href="RegisterCommerce.aspx" class="w3-bar-item w3-button w3-padding w3-blue2 ">New Registration</a>
    <a href="ManageAppCommercial.aspx" class="w3-bar-item w3-button w3-padding w3-blue2 ">Manage Application/Permit</a>
  </div>

  <a href="#" class=" w3-button w3-block w3-left-align  " id="MyFunc5">
   Tourist Vehicle <i class="fa fa-caret-down"></i>
  </a>
  <div id="demoAcc5" class="w3-hide w3-blue w3-card">
    <a href="RegisterTravel.aspx" class="w3-bar-item w3-button w3-padding w3-blue2 ">Tourist Agency Registration</a>
    <a href="RegisterTravelUser.aspx" class="w3-bar-item w3-button w3-padding w3-blue2 ">Tourist Registration (Cambodia/Myanmar/Malaysia/Singapore)</a>
    <%--<a href="ManageApp.aspx?status=2" class="w3-bar-item w3-button w3-padding w3-blue2 ">Manage Application/Permit</a>--%>
  </div>

    <a href="Search.aspx" id="menu5" style="Display:none" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;Search License</a>
    <a href="#contact" id="menu6" style="Display:none" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;Contact/Information</a>
</nav>
 

 <div class="w3-top">
 <%-- <div id="myNavbar">
  <div class=" w3-auto w3-right w3-medium w3-button" onclick="w3_open()"></div> 
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-hide-small w3-right" >
      <a class="w3-bar-item w3-button w3-large w3-text-white"><i class="fa fa-bars"></i><b style="font-size:x-large;">Menu</b></a>
      <a href="Login.aspx" class="w3-bar-item w3-button w3-large w3-text-white"><i class="fa fa-sign-in"></i><b style="font-size:x-large;">Login</b></a>
    </div>
  
    
  </div>--%>


  <div  id="myNavbar" >
    <a class="w3-bar w3-card  w3-animate-top w3-purple w3-bar-item w3-button w3-hover-purple w3-hide-medium w3-hide-large" href="javascript:void(0);" onclick="w3_open()" title="Toggle Navigation Menu">
      <i class="fa fa-bars w3-left" ></i>
    </a>
    <a onclick="openlogin()" class="w3-bar-item w3-button w3-text-white w3-hide-small w3-right" style="margin-right:7%"><b style="font-size:1em">Login</b></a>


    <a  class=" w3-bar-item w3-button w3-text-white w3-hide-small w3-right " style="margin-right:0%;" onclick="w3_open()"><i class="fa fa-bars" style=" margin-right:5px"></i><b style="font-size:1em">Menu</b></a>
  
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
   
  </div>

</div>

<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
 <div class="bgimg-1 w3-display-container w3-text-whit" >
<%-- banner--%>
 <div class="w3-content w3-display-container w3-card-4 w3-animate-opacity " style="max-width:100%">
  <img class="mySlides" src="image/banner1.jpg" style="width:100%">
  <img class="mySlides" src="image/banner2.jpg" style="width:100%">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
  </div>
</div>

<script>   
//    var slideIndex = 1;
//    showDivs(slideIndex);

//    function plusDivs(n) {
//        showDivs(slideIndex += n);
//    }

//    function currentDiv(n) {
//        showDivs(slideIndex = n);
//    }

//    function showDivs(n) {
//        var i;
//        var x = document.getElementsByClassName("mySlides");
//        var dots = document.getElementsByClassName("demo");
//        if (n > x.length) { slideIndex = 1 }
//        if (n < 1) { slideIndex = x.length }
//        for (i = 0; i < x.length; i++) {
//            x[i].style.display = "none";
//        }
//        for (i = 0; i < dots.length; i++) {
//            dots[i].className = dots[i].className.replace(" w3-white", "");
//        }
//        x[slideIndex - 1].style.display = "block";
//        dots[slideIndex - 1].className += " w3-white";
//    }

    // Change style of navbar on scroll

    window.onscroll = function () { myFunction() };

    function openlogin() {
        document.getElementById('id01').style.display = 'block';
    }

    function myFunction() {
        var navbar = document.getElementById("myNavbar");
        if (document.body.scrollTop >100 || document.documentElement.scrollTop >000) {
            navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-purple";
        } else {
            navbar.className = navbar.className.replace("w3-bar" + " w3-card" + " w3-animate-top" + " w3-purple", "");
        }
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    window.onscroll2 = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn2").style.display = "block";
        } else {
            document.getElementById("myBtn2").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

 
  
<!-- Content -->
<div class="w3-content " style="max-width:85%; margin-top:60px;" > <%--margin-top:58px;">--%> <%--style="max-width:1100px;margin-top:80px;margin-bottom:80px">--%>
<br /><br /> 

        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    <br /> 

</div>

<!-- Footer -->


</div>



<script type="text/javascript">


    $(document).ready(function () {

        $("#MyFunc").click(function () {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show w3-purple";
                x.previousElementSibling.className += " w3-purple";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-purple", "");
            }
        });

        $("#MyFunc2").click(function () {
            var x = document.getElementById("demoAcc2");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show w3-purple";
                x.previousElementSibling.className += " w3-purple";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-purple", "");
            }
        });

        $("#MyFunc3").click(function () {
            var x = document.getElementById("demoAcc3");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show w3-purple";
                x.previousElementSibling.className += " w3-purple";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-purple", "");
            }
        });

        $("#MyFunc4").click(function () {
            var x = document.getElementById("demoAcc4");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show w3-purple";
                x.previousElementSibling.className += " w3-purple";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-purple", "");
            }
        });

        $("#MyFunc5").click(function () {
            var x = document.getElementById("demoAcc5");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show w3-purple";
                x.previousElementSibling.className += " w3-purple";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-purple", "");
            }
        });




    });






    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demodots");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            document.getElementById("myOverlay").style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            document.getElementById("mySidebar").style.width = "35%";

            document.getElementById("myOverlay").style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        document.getElementById("myOverlay").style.display = "none";

    }


</script>

 

 </form>
<!-- Footer -->
 <footer class="ftbanner w3-mobile" style="width:100%;height:30%; margin-top:1%;">
  
     
         <h2 class="w3-text-white w3-center w3-card w3-orange w3-padding-16 w3-hide-small" style="margin-bottom:2%;text-shadow:1px 1px 0 #444; width:200px; height:60px;margin-left:45%"><b style="font-size:x-large">Contact Us</b></h2>

         <div class=" w3-text-white w3-center w3-hide-small" style="font-size:x-large">
         <p> <i class="fa fa-phone w3-hover-opacity w3-text-white"></i>  โทรศัพท์ : 02-2718-443 <i class="fa fa-fax w3-hover-opacity w3-text-white" aria-hidden="true"></i>  โทรสาร : 02-2718-443</p> </br>
         </div>
         <div class=" w3-text-white w3-center w3-hide-small" style="font-size:x-large;margin-top:-2.5%">
         <p><i class="fa fa-home w3-hover-opacity w3-text-white" "></i> อาคาร4 ชั้น5 กองแผนงาน กรมการขนส่งทางบก </br> 1032 ถนนพหลโยธิน แขวงจอมพล เขตจตุจักร กรุงเทพมหานคร 10900</p>
         </div>


          <%-- size monlie--%>

          <h2 class="w3-text-white w3-center w3-card w3-orange w3-hide-large w3-small" style="margin-bottom:2%;text-shadow:1px 1px 0 #444; width:200px; height:50px;margin-left:25%"><b style="font-size:30px">Contact Us</b></h2>
         <div class=" w3-text-white w3-center  w3-hide-large" style="font-size:16px;margin-top:5%">
         <p> <i class="fa fa-phone w3-hover-opacity w3-text-white"></i>  โทรศัพท์ : 02-2718-443 <i class="fa fa-fax w3-hover-opacity w3-text-white" aria-hidden="true"></i>  โทรสาร : 02-2718-443</p> </br>
         </div>
         <div class=" w3-text-white w3-center w3-hide-large " style="font-size:16px;margin-top:-8%">
         <p><i class="fa fa-home w3-hover-opacity w3-text-white" "></i> อาคาร4 ชั้น5 กองแผนงาน กรมการขนส่งทางบก </br> 1032 ถนนพหลโยธิน แขวงจอมพล เขตจตุจักร กรุงเทพมหานคร 10900</p>
         </div>







         <img src="image/arrow-up.png" class="w3-hide-small w3-right" style=" width:40px; height:40px;margin-top:-5%; margin-right:3%"  class=" w3-right" onclick="topFunction()" id="myBtn2" title="Go to top" />
         
 </footer>
      <p class="w3-center w3-amber w3-black" style="margin-left:0%;width:100%;height:4%;margin-top:0px;font-size:0.7em;"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2019</p>

</body>
</html>
