/* [PERIOD SELECTOR] */
#cal-date {
  margin: 10px 0;
}
#cal-mth, #cal-yr{
  padding: 10px;
  font-size: 1.2em;
  border: 0;
 /* background: #5a2f8f;
  color: #fff;*/
}

 /*#cal-set {
  padding: 10px;
  font-size: 1.2em;
  border: 0;
  background: #5a2f8f;
  color: #fff;
}*/

/* [CALENDAR] */
#calendar {
  width: 100%;
  border-collapse: collapse;
}
#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar tr.day td:hover {
  background: #fff9e4;
}

/*#calendar tr.day1 td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
  background: #f9e4ff;
}
#calendar tr.day1 td:hover {
  background: #fff9e4;
}*/

#calendar tr td.blank {
  background: #f5f5f5;
}

#calendar tr td.avai {
  background: #f9e4ff;
}
#calendar tr td.not_avai {
  background: none;
}

#calendar .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar .ddr {
  font-size: 1.2em;
  color: red;
}

#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

/* for show all*/
#calendar1 {
  width: 100%;
  border-collapse: collapse;
}
#calendar1 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar1 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar1 tr.day td:hover {
  background: #fff9e4;
}
#calendar1 tr td.blank {
  background: #f5f5f5;
}
#calendar1 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar1 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar1 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar2 {
  width: 100%;
  border-collapse: collapse;
}
#calendar2 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar2 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar2 tr.day td:hover {
  background: #fff9e4;
}
#calendar2 tr td.blank {
  background: #f5f5f5;
}
#calendar2 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar2 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar2 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar3 {
  width: 100%;
  border-collapse: collapse;
}
#calendar3 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar3 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar3 tr.day td:hover {
  background: #fff9e4;
}
#calendar3 tr td.blank {
  background: #f5f5f5;
}
#calendar3 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar3 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar3 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar4 {
  width: 100%;
  border-collapse: collapse;
}
#calendar4 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar4 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar4 tr.day td:hover {
  background: #fff9e4;
}
#calendar4 tr td.blank {
  background: #f5f5f5;
}
#calendar4 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar4 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar4 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}
#calendar5 {
  width: 100%;
  border-collapse: collapse;
}
#calendar5 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar5 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar5 tr.day td:hover {
  background: #fff9e4;
}
#calendar5 tr td.blank {
  background: #f5f5f5;
}
#calendar5 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar5 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar5 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar6 {
  width: 100%;
  border-collapse: collapse;
}
#calendar6 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar6 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar6 tr.day td:hover {
  background: #fff9e4;
}
#calendar6 tr td.blank {
  background: #f5f5f5;
}
#calendar6 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar6 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar6 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar7 {
  width: 100%;
  border-collapse: collapse;
}
#calendar7 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar7 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar7 tr.day td:hover {
  background: #fff9e4;
}
#calendar7 tr td.blank {
  background: #f5f5f5;
}
#calendar7 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar7 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar7 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar8 {
  width: 100%;
  border-collapse: collapse;
}
#calendar8 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar8 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar8 tr.day td:hover {
  background: #fff9e4;
}
#calendar8 tr td.blank {
  background: #f5f5f5;
}
#calendar8 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar8 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar8 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar9 {
  width: 100%;
  border-collapse: collapse;
}
#calendar9 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar9 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar9 tr.day td:hover {
  background: #fff9e4;
}
#calendar9 tr td.blank {
  background: #f5f5f5;
}
#calendar9 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar9 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar9 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar10 {
  width: 100%;
  border-collapse: collapse;
}
#calendar10 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar10 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar10 tr.day td:hover {
  background: #fff9e4;
}
#calendar10 tr td.blank {
  background: #f5f5f5;
}
#calendar10 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar10 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar10 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar11 {
  width: 100%;
  border-collapse: collapse;
}
#calendar11 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar11 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar11 tr.day td:hover {
  background: #fff9e4;
}
#calendar11 tr td.blank {
  background: #f5f5f5;
}
#calendar11 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar11 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar11 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

#calendar12 {
  width: 100%;
  border-collapse: collapse;
}
#calendar12 tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #5a2f8f;
  padding: 15px;
  text-align: center;
}
#calendar12 tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar12 tr.day td:hover {
  background: #fff9e4;
}
#calendar12 tr td.blank {
  background: #f5f5f5;
}
#calendar12 .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar12 .ddr {
  font-size: 1.2em;
  color: red;
}
#calendar12 .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

/* [ADD/EDIT EVENT] */
#cal-event form {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}
#evt-date {
  color: #999;
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  box-sizing: padding-box;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  resize: none;
}
#cal-event input[type=button], #cal-event input[type=submit] {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #5a2f8f;
  color: #fff;
}

/* [DOES NOT MATTER] */
html, body, textarea, input{
  font-family: helvetica, sans-serif;
}
#page-body{
  max-width: 1000px;
}

