/*@font-face {
    font-family: 'ThaiSansNeueRegular';
    src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot') format('embedded-opentype'),
         url('thaisansneue-regular-webfont.woff') format('woff'),
         url('thaisansneue-regular-webfont.ttf') format('truetype'),
         url('thaisansneue-regular-webfont.svg#ThaiSansNeueRegular') format('svg');
}*/


@font-face {
  font-family: hv-thin;
  src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot') format('embedded-opentype'),
         url('thaisansneue-regular-webfont.woff') format('woff'),
         url('thaisansneue-regular-webfont.ttf') format('truetype'),
         url('thaisansneue-regular-webfont.svg#ThaiSansNeueRegular') format('svg');
}
@font-face {
  font-family: hv-light;
  src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot') format('embedded-opentype'),
         url('thaisansneue-regular-webfont.woff') format('woff'),
         url('thaisansneue-regular-webfont.ttf') format('truetype'),
         url('thaisansneue-regular-webfont.svg#ThaiSansNeueRegular') format('svg');
}
@font-face {
  font-family: hv-bold;
 src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot') format('embedded-opentype'),
         url('thaisansneue-regular-webfont.woff') format('woff'),
         url('thaisansneue-regular-webfont.ttf') format('truetype'),
         url('thaisansneue-regular-webfont.svg#ThaiSansNeueRegular') format('svg');
}
@font-face {
  font-family: hv-med;
  src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot') format('embedded-opentype'),
         url('thaisansneue-regular-webfont.woff') format('woff'),
         url('thaisansneue-regular-webfont.ttf') format('truetype'),
         url('thaisansneue-regular-webfont.svg#ThaiSansNeueRegular') format('svg');
}

/*h1, h2, h3, h4, h5, h6 {
	font-family: ThaiSansNeueRegular;
}

.webfont {
	font-family: ThaiSansNeueRegular;
}*/